.landing-body {
    background-image: url("../assets/imgs/bg-landing.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-shadow {
    box-shadow: 10px 10px 99px #2072ec;
}

.landing-navbar-active {
    background-color: #000013;
    opacity: 0.9;
}